@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,500;8..144,600&display=swap');


html {
    scroll-behavior: smooth ease-in-out;
}

:root {
    --primary: #6D9886;
    --secondary: ;
    --bg-light: #F7F7F7;
    --bg-dark: #212121;
    --item-dark: #2c3036;
    --primary-dark: #97DECE;
}

/* navbar */
body {
    word-wrap: normal;
    background-color: var(--bg-light);
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 200;
}

p {
    font-weight: 300;
    font-size: 15px;
    word-wrap: normal;
}

h1 {
    font-family: "ABeeZee", sans-serif;
}

/* anchor to inherited color */
a.card-link {
    color: inherit;
}

a.card-link:hover {
    color: inherit;
}

a.stretched-link:hover::after{background-color: rgba(105, 200, 245, 0.104);}

/* nav */

nav {
    position: fixed !important;
    width: 100%;
    z-index: 10;
}

.nav-link.active {
    background-color: #6d988683;
    padding: 5px;
    transition: none;
    border-radius: 5px;
}

.nav-link.btn-primary.login{
    margin-left: 10px;
    width: fit-content;
    padding: 5px;
}
.nav-item#login-element{width: fit-content;padding: 5px;border-radius: 5px;
}
.account-photo-profile{width: 30px;}

/* breadcrumb */


.subtitle {
    color: var(--item-dark) !important;
}

.logo {
    width: 30px;
}

img{object-fit: cover;}

/* header */
.hero {
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    backdrop-filter: blur(3px);
}


/* section starts================================= */
.feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3 {
    background-color: #393E46 !important;
    background-image: none !important;
}

/* berita.html */

.title-container {
    margin-left: 20px;
}

/* berita */
.berita-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* card */
.berita-container .card,
#data-mesjid .card {
    display: block;
    max-width: 700px;
    flex-shrink: 1;
    flex-basis: 300px;
    flex-grow: 1;
    min-width: 200px;
    width: auto;
    font-size: 14px;
    padding: 20px;
    margin: 10px;
    box-shadow: none;
    transition: .5s;
    position: relative;
}

.berita-container .card h2,
.mesjid-container h2,
.card-header h2 {
    border-bottom: solid var(--primary);
    font-size: 18px;
}

/* card img */
.card img.foto-berita {
    margin: 10px;
    max-height: 100px;
    object-fit: cover;
    float: left;
}

/* card footer */

.card-footer {
    height: fit-content;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.card-footer::after {
    content: none;
}

.card-footer input {
    --icon-size: 30px;
    appearance: none;
    width: var(--icon-size);
    height: var(--icon-size);
    position: relative;
    cursor: pointer;
}

.card-footer input::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--icon);
    background-size: var(--icon-size);
    /* background-color: red; */
}

.card-footer input:checked::after {
    background-image: var(--icon-checked);
}

/* variable each options */
.card-footer input.like::after {
    --icon: url(../img/heart.png);
    --icon-checked: url(../img/heart-checked.png);
}

.card-footer input.comment::after {
    --icon: url(../img/comment.png);
    --icon-checked: url(../img/comment.png);
}

.card-footer input.bookmark::after {
    --icon: url(../img/bookmark.png);
    --icon-checked: url(../img/bookmark-checked.png);
}

.card-footer>div {
    padding: 5px;
    border-radius: 3px;
    transition: 0.5s;
}

.card-footer>div:hover {
    background-color: var(--primary-dark);
}


/* card hover animation */
.card {
    transition: .5s;
    position: relative;
}

.card input,
.card a {
    z-index: 5;
}

.card:hover {
    transform: translate(0, -5px);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.344);
    transition: 0.5s;
}

/* form validation pages */
.login-page,
.register-page {
    height: fit-content;
    min-height: 100vh !important;
}

.card.on-bg:hover,
.login-page .card:hover,
.register-page .card:hover {
    transform: translate(0, 0);
}

.back-btn {
    position: absolute;
    color: white !important;
    font-weight: bold !important;
    border-style: solid;
    border-radius: 5px;
    left: 10px;
    top: 10px;
}


.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: var(--item-dark);
}

.btn-primary:active {
    background-color: var(--item-dark);
}

.btn-outline-light {
    border-color: var(--item-dark);
    color: var(--item-dark);
}

.card.on-bg {
    background-color: transparent;
    box-shadow: none;
}



/* daftar mesjid */

/* mesjid utama */
.card-header {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.card-mesjid-utama .card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}

.card-mesjid-utama .card-body>*:nth-child(1) {
    flex: 1;
}

.card-mesjid-utama .card-body>*:nth-child(2) {
    flex: 2;
}

.card-mesjid-utama .deskripsi {
    min-width: 400px;
}

img.profil-mesjid {
    min-width: 300px;
    width: 100%;
    max-width: 400px;
}

/* data mesjid lain */
.container.daftar-mesjid-lain {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.card.mesjid {
    flex: 1;
}

.container.daftar-mesjid-lain .card-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.container.daftar-mesjid-lain .card-body img {
    flex: 1;
    flex-basis: 150px;
    min-width: 100px;
    max-width: 300px;
}

.container.daftar-mesjid-lain .deskripsi {
    min-width: 300px;
    flex: 1;
}



/* about html */


/* TEAM */

#team .card .card-body{position: relative;}

.team-potrait{width: 100%;filter: saturate(10%);height: 300px;filter: grayscale(100%);}
.team-potrait.sahrija{object-position: top;}

.card-label{position: absolute;bottom: 20px;font-family: "ABeeZee", sans-serif;}
.card-label .name{color:  var(--item-dark);font-size: x-large;position: relative;z-index: 0;}
.card-label .role{color:  var(--primary-dark);font-size: larger;position: relative;z-index: 1;border-bottom: var(--item-dark) solid;}

.card-label .name::before, .role::before{
    content: "";
    position: absolute;
    bottom: 0;right: 10px;
    width: 100%;
    height: 80%;
    background-color: var(--primary);
    z-index: -1;
}
.role::before{
    width: 90%;left: -20px;
}
.card-label .name::after{
    content: "";
    position: absolute;
    top: 0;right: 0px;
    width: 100%;
    height: 80%;
    background-color: white;
    z-index: -1;
}



/* darkmode toggle */

.dark-mode-toggle {
    position: fixed;
    cursor: pointer;
    top: 10px;
    right: 1vw;
    height: 40px;
    width: 40px;
    background-color: transparent;
    z-index: 11;
    background-image: url(../img/night.png);
    background-size: 100%;
    border: none;
    border-radius: 50%;
}



.dark .dark-mode-toggle{}


/* dark mode ===============*/
.dark-mode body {
    background-color: var(--bg-dark) !important;
    color: white;
}

.dark-mode p {
    color: rgb(181, 181, 181);
}

.dark-mode a{color: cornflowerblue;}
.dark-mode .breadcrumb{background-color: #393E46;}

.dark-mode section.bg-light {
    background-color: white;
}

.dark-mode .subtitle {
    color: silver !important;
}

.dark-mode .text-muted {
    color: white !important;
}

.dark-mode .card,
.dark-mode .card .card-body,
.dark-mode .feature {
    color: white !important;
    background-color: var(--item-dark);
}

.dark-mode .hero {
    background-image: url(../img/background-image-dark.jpg);
    backdrop-filter: blur(2px);
    color: white;
}

.dark-mode .btn-outline-light {
    color: white;
    border-color: white;
}

.dark-mode .form-control,
.dark-mode input,
.dark-mode textarea {
    background-color: #556 !important;
    border-width: 2px !important;
    color: white !important;
}

.dark-mode .form-floating {
    color: #999D;
}

.dark-mode :where(input, textarea):focus {
    color: white;
    border-color: greenyellow !important;
    box-shadow: 0 0 0 .2rem rgba(172, 255, 47, 0.301) !important;
}

.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:hover,
.dark-mode input:-webkit-autofill:focus,
.dark-mode input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--bg-dark) inset !important;
    -webkit-text-fill-color: #F7F7F7;
}



/* login page  */
.dark-mode .login-logo a,
.dark-mode .register-logo a {
    color: rgb(210, 210, 210);
}

.dark-mode .btn-primary {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--item-dark);
}

.dark-mode .card-footer input {
    background-color: transparent !important;
}

.dark-mode .card-footer input:focus,
.dark-mode .card-footer input:focus-within {
    box-shadow: none;
}



/* jadwal sholat */
.jadwal-sholat{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}


.jadwal-sholat td, .jadwal-sholat th{border: solid;padding: 5px;cursor: pointer;}
.jadwal-sholat td:hover, .jadwal-sholat th:hover{background-color: aliceblue;}
.dark-mode .jadwal-sholat td:hover,.dark-mode .jadwal-sholat th:hover{background-color: #556;}
.dark-mode .jadwal-sholat td,.dark-mode .jadwal-sholat th{color: rgb(169, 169, 169)}