.galeries.container ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.galeries.container img {
    max-height: 200px;
    margin: 20px;
}

.detail {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    flex: 1;
    min-width: 300px;
    border: none;
    padding: 20px;box-shadow: none;
}

.ulasan-container{
    display: flex;
    justify-content: center;gap: 20px;
}
.ulasan-container .card{
    flex: 1;
    padding: 0;
}