@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: .88rem;
    background-color: aliceblue;
    user-select: none;
    overflow: hidden;
}


.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: gray;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: .87rem;
}

h4 {
    font-size: .8rem;
}

h5 {
    font-size: .77rem;
}

small {
    font-size: .75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: gray;
}

p {
    color: #000;
}

/* colors */
.primary {
    color: var(--danger);
}

aside {
    height: 100vh;
    background-color: darkgray;

}

aside .top {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: black;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    transition: all 300 ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background-color: violet;
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    background-color: purple;
}

aside .sidebar a.active img{
    transition: all;
    color: #000;
}

aside .sidebar a:hover{
    
}
aside .sidebar a:hover img{
    margin-left: 1rem;
}